<h3>予定一覧</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<p class =touroku ><%= link_to "新規追加", :new_user %></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.title %></td>
        <td><%= user.start_date.strftime('%Y/%m/%d')  %></td>
        <td><%= user.end_date.strftime('%Y/%m/%d')  %></td>        
        <td><%= user.is_all_day ? '◯' : ''   %></td>
        <td><%= user.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "詳細", user %></td>
        <td><%= link_to "編集", [:edit, user] %></td>
        <td><%= link_to "削除",  user, method: :delete, data: { confirm: "予定を削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>予定の合計数: <%= @total_count %></p>
<p>本日の日付: <%= @today.strftime("%Y/%m/%d") %></p>


