<div>
  <ul>
    <li><%= link_to "← 情報一覧に戻る", :users %></li>
    <li><%= link_to "編集", :edit_user %></li>
  </ul>
</div>

<%= @user.title %>
<%= form_with model: @user do |f| %>

<table>
  <tr>
    <th>開始日</th>
    <td><%= @user.start_date %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @user.end_date %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @user.is_all_day ? '◯': ''  %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @user.memo %></td>
  </tr>
</table>
<% end %>