<div>
  <ul>
    <li><%= link_to "← 予定一覧に戻る", :posts %></li>
    <li><%= link_to "編集", :edit_post %></li>
  </ul>
</div>

<%= @post.title %>
<%= form_with model: @post do |f| %>

<table>
  <tr>
    <th>開始日</th>
    <td><%= @post.start_date %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @post.end_date %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @post.is_all_day ? '◯': ''  %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @post.memo %></td>
  </tr>
</table>
<% end %>